header{
    font-family: Roboto, sans-serif;
    text-align: center;
}

#main, #display{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

#instruments, #user_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    border: 1px solid gray;
    width: 45%;
}

#user_form{
    height: 400px;
    margin-top: 20px;

}
#instrument_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}
h2{
    text-align: center;
}
.hidden{
    display: none;
}